In [1]:
import os
import pandas as pd

# Path to the folder containing the CSV files
folder_path = 'Data/'

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Create an empty list to store the data from each CSV file
dataframes = []

# Iterate over each CSV file and read it using pandas
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Concatenate the dataframes into a single dataframe
combined_df = pd.concat(dataframes)

In [2]:
distinct_values = combined_df['ID'].unique()
print(distinct_values)

['002-tf2-315' '001-tf2-315' '004-poly-315' '004-tf2-315' '005-poly-315'
 '007-poly-317' '007-tf2-317' '008-poly-317' '008-tf2-317' '009-poly-320'
 '009-tf2-320' '010-poly-317' '010-tf2-320' '011-poly-326' '012-poly-326'
 '013-poly-326' '013-tf2-326' '014-poly-328' '014-tf2-328' '015-poly-328'
 '015-tf2-328' '016-tf2-328' '017-tf2-328' '018-poly-330' '018-tf2-330'
 '019-poly-403' '019-tf2-403' '020-poly-403' '020-tf2-403' '021-tf2-403']

In [3]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1202699 entries, 0 to 41931
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   ID         1202699 non-null  object
 1   Timestamp  1202699 non-null  float64
 2   X          1202699 non-null  object
 3   Y          1202699 non-null  object
 4   Button     1202699 non-null  object
 5   Duration   1202699 non-null  float64
dtypes: float64(2), object(4)
memory usage: 64.2+ MB

In [4]:
combined_df.head()

            ID     Timestamp    X    Y Button  Duration
0  002-tf2-315  1.678903e+09  558  301     -1      -1.0
1  002-tf2-315  1.678903e+09  550  290     -1      -1.0
2  002-tf2-315  1.678903e+09  537  283     -1      -1.0
3  002-tf2-315  1.678903e+09  526  280     -1      -1.0
4  002-tf2-315  1.678903e+09  510  276     -1      -1.0

In [5]:
distinct_values = combined_df['ID'].unique()
print(distinct_values)

['002-tf2-315' '001-tf2-315' '004-poly-315' '004-tf2-315' '005-poly-315'
 '007-poly-317' '007-tf2-317' '008-poly-317' '008-tf2-317' '009-poly-320'
 '009-tf2-320' '010-poly-317' '010-tf2-320' '011-poly-326' '012-poly-326'
 '013-poly-326' '013-tf2-326' '014-poly-328' '014-tf2-328' '015-poly-328'
 '015-tf2-328' '016-tf2-328' '017-tf2-328' '018-poly-330' '018-tf2-330'
 '019-poly-403' '019-tf2-403' '020-poly-403' '020-tf2-403' '021-tf2-403']

In [6]:
# To display unique values from a single column:
unique_values_column = combined_df['Button'].unique()
print(unique_values_column)

[-1 0 4 3 1 2 5 6]

In [7]:
combined_df.to_csv('combined_data.csv', index=False)